# --- Backend runtime env ---
DATABASE_URL=postgresql+psycopg2://lexiadmin:REPLACE_ME@lexi-db.clyoa84uy5de.ap-south-1.rds.amazonaws.com:5432/postgres
FRONTEND_URL=http://REPLACE_ME_PUBLIC_URL
ENV=production
DEBUG=false
